:root {
  --pf-global--primary-color--100: forestgreen;
  --pf-global--primary-color--200: #80a6af;
  --pf-global--primary-color--500: #004c5e;
  --pf-c-button--m-primary--BackgroundColor: #004c5e;
  --pf-c-button--disabled--Color: #004c5e;
  --default-background-color: white;
  --link-hover-color: forestgreen;
}

.login-pf body {
  background-color: white;
  background-size: cover;
  height: 100%;
}

.login-pf a:hover {
  color: var(--pf-global--primary-color--200);
  text-decoration: none;
}

.pf-c-form-control {
  color: var(--pf-global--primary-color--500);
}

.pf-c-button.pf-m-primary {
  background-color: forestgreen;
}

.pf-m-primary:hover {
  background-color: var(--pf-global--primary-color--200);
}

.card-pf {
  border-color: var(--pf-global--primary-color--500);
}

#kc-header-wrapper {
  padding: 35px 10px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: rgba(0 0 0 /50%);*/
}
